# Ignore annoying DS files
.DS_Store
*.DS_Store
**.DS_Store

# npm
node_modules
npm-debug.log
npm-debug.log.*
package-lock.json

# yarn
yarn-error.log
yarn-debug.log*

# lerna
lerna-debug.log
lerna-debug.log.*

# builds
build
dist
