.Body {
  all: unset;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  position: fixed;
  top: var(--header-height);
  right: 0;
  bottom: 0;
  left: 0;

  @media (max-width: 960px) {
    flex-direction: column-reverse;
  }
}

.EditorPane {
  all: unset;
  box-sizing: border-box;
  display: flex;
  border-right: var(--border);

  @media (max-width: 960px) {
    border-right: none;
    border-top: var(--border);
  }
}

[data-layout='preview'] .EditorPane {
  display: none;
}

.PreviewPane {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

[data-theme='light'] [data-contrast='true'] .PreviewPane {
  color-scheme: dark;
  background-color: currentColor;

  & > * {
    color: white;
  }
}

[data-theme='dark'] [data-contrast='true'] .PreviewPane {
  color-scheme: light;
  background-color: currentColor;

  & > * {
    color: black;
  }
}

.ResizeHandle {
  z-index: 9999;
}

.Editor {
  all: unset;
  box-sizing: border-box;
  font-size: 14px;
  position: absolute;
  left: 0;
  right: 0;
  top: var(--tabbar-height);
  bottom: 0;
  overflow: hidden;
}

.TabBar {
  height: var(--tabbar-height);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
}

[data-theme='dark'] .Editor {
  background-color: initial !important;
}
